body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clear {clear: both;}
main {
  width: 90%;
  max-width: 900px;
  background: #f3f3f3;
  margin: 30px auto;
  padding: 25px 35px;
  
  background: #ededed;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cf8a05;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
}
.title h1 {
  padding: 0;
  margin: 0;
}

.photo {
  width: 12.5%;
  float: left;
  margin-right: 30px;
}

.photo img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.contact {
  float: right;
}

.contact ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 2px;
  padding-left: 0;
}

.contact ul li {
  margin-bottom: 3px;
  color: #444;
}

.contact ul li a,
a[href^="tel"] {
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact ul li a:hover {
  color: #cf8a05;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
    list-style-type: none;
    padding-left: 0;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills li {
	margin-bottom: 10px;
}


@media all and (min-width: 602px) and (max-width: 800px) {
  .photo {
    display: none;
  }
}

@media all and (max-width: 601px) {
  main {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
  }

  .photo {
    display: none;
  }

  header {
      flex-direction: column;
  }

  title,
  .contact {
    width: 100%;
    text-align: center;
  }

  .sectionTitle,
  .sectionContent {
    float: none;
    width: 100%;
  }

  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
  }
}

.form-control {
  margin: 10px 0;
  width: 80%;
  padding-bottom: 15px;
}

.form-control input, .form-control textarea {
  width: 100%;
}

.form-control input {
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #cf8a05;
}

.form-control input:focus {
  border: none;
  border: 2px solid #cf8a05;
  outline-color: #cf8a05;
}

.form-control textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #cf8a05;
}

.form-control textarea:focus {
  /* border: none; */
  outline-color: #cf8a05;
}

label em {
  color:red;
  font-weight: 500;
  display: none;
  float: right;
  font-size: 14px;
}

.form-control .error {
  outline-color: red;
  background-color: rgb(248, 92, 71, 0.1);
  border: 1px solid red;
}

.btn {
  width: 80%;
  margin: 0;
  padding: 0;
}

input[type='submit'] {
  width: 150px;
  align-content: center;
  height: 40px;
  color: white;
  font-size: 18px;
  background-color: #cf8a05;
  border: none;
  padding: 0;
}

input[type='submit']:active {
  outline-color: none;
  box-sizing: border-box;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 20px;
  border-radius: 9px;
  margin-left: 10px;
  margin-right: 10px;
}

progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border: 1px solid #cf8a05;
  height: 20px;
  border-radius: 9px;
}

progress::-webkit-progress-value {
  background-color: #cf8a05;
  border: 0;
  height: 20px;
  border-radius: 9px;
}

@media all and (max-width: 480px) {
  heading {
    padding: 15px 15px;
  }

  section {
    padding: 15px 0 0;
  }

  .title h1 {
    line-height: 0.8em;
    margin-bottom: 4px;
  }
}
